body {
    background-color: #67c8f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1{
    font-size: 4rem;
    justify-content: center;
    text-align: center;
}
h2{
    font-size: 1.5rem;
}

.container-timer{
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top:50%;
    border: solid 1px white;
    border-radius: 3%;
    width: 35%;
    height: 38%;
    padding: 2%;
}

.time{ height: 50%;}

.btn{
    width: 10%;
    margin: 0 0.375rem;
    height: 13%;
    border-radius: 3px;
   position: relative;
  border: 2px solid black;
   background-color: transparent;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 11px;
   cursor: pointer;
}

.btn::after{
    content: " ";
    background-color: hsl(209, 79%, 56%);
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 520ms ease-in-out;
    z-index: -1;
    color: #e09e48;      
}

.btn:hover::after{
    width: 100%;   
}

@media (max-width: 600px){
    .container-timer{ width: 70%; height: 35%;}
    h1{ font-size: 2.5rem;}
    .btn{ width: 20%; font-size: 10px;}
}
@media (max-width: 1300px){
    .btn{ width: 20%; font-size: 9px;}
}
@media (max-height: 534px){
    h2{ font-size: 1rem;}
    h1{font-size: 1.5rem;}}

@media (min-height:800px){
    .container-timer{ height: 30%;}
}
@media (min-width: 767px){
    .container-timer{ width: 50%; height: 40%;}
    h2{font-size: 2rem;}
    .btn{width: 23%; font-size: 15px;}
    h1{ font-size: 2.7rem;}
}
@media (max-width: 320px){
    .container-timer{ height: 40%; width: 80%;}
    h2{font-size: 1rem;}
    h1{font-size: 2rem; }
    .btn{width: 25%;font-size: 9px;}}